.title {
  font-weight: normal;
  margin: 0;
}

.subtitle {
  font-size: 14px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.summary {
  margin-top: 100px;
  margin-bottom: 150px;
}

.recents h6 {
  color: var(--color-label);
  letter-spacing: 1px;
  font-size: 0.8rem;
  font-weight: normal;
  margin-right: var(--spacing-3);
}

.post {
  margin-bottom: calc(var(--spacing-5) * 1.75);
}

.post .postTitle {
  color: var(--color-text);
  text-decoration: none;
}

.post h2 {
  margin: 0;
  display: inline-block;
}

.post .tag {
  color: var(--color-link);
  margin-right: var(--spacing-2);
}

.post .description {
  margin-top: var(--spacing-3);
  margin-bottom: var(--spacing-3);
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
