.page_container {
  display: grid;
  min-height: 100vh;
  grid-template-areas:
    "menu header empty"
    "menu content empty";
  grid-template-columns:
    var(--menu-width)
    var(--content-width)
    var(--menu-width);
  justify-content: center;
  align-content: center;
  grid-auto-flow: column;
}

.menu_container {
  grid-area: menu;
  margin: 0;
  padding: 0;
  padding-top: calc(27vh);
  padding-right: var(--spacing-5);
  border-right: 1px dotted var(--color-link);
}

.menu_container ul {
  list-style: none;
  text-align: right;
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
}

.menu_container li:not(:last-child) {
  margin-bottom: var(--spacing-2);
}

.menu_container li:hover {
  opacity: 0.8;
}

.menu_container li.inactive {
  opacity: 0.5;
  margin-bottom: var(--spacing-2);
}

.menu_container a:hover {
  text-decoration: underline;
}

.menu_container a {
  text-decoration: none;
}

.header_container {
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  margin-top: var(--spacing-3);
  margin-bottom: var(--spacing-5);
}

.header_container .lang_switcher {
  line-height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.header_container .version,
.header_container .name {
  letter-spacing: 1px;
  font-size: 0.8rem;
  margin-right: var(--spacing-3);
  line-height: 24px;
}

.header_container .version {
  color: var(--color-label);
}

.header_container .langs {
  font-size: 24px;
}

.header_container .langs a {
  margin-right: var(--spacing-2);
  text-decoration: none;
}

.content_container {
  grid-area: content;
  min-height: 100vh;
  padding: var(--spacing-2) var(--spacing-5);
  padding-bottom: calc(var(--spacing-5) * 3);
}

.content {
  margin-top: 10vh;
}

.flag {
  position: fixed;
  display: flex;
  flex-direction: row;
  right: 0;
  top: 0;
  bottom: 0;
}

.flag div {
  width: 20px;
}

.flag .blue {
  background-color: #5689cb;
}

.flag .yellow {
  background-color: #f9e238;
}

.langs a:hover {
  text-decoration: none;
}

.langs .active {
  padding-bottom: 4px;
  border-bottom: 2px solid var(--color-link);
}

.menu_button {
  display: none;
}

@media (max-width: 1000px) {
  .page_container {
    display: block;
    width: 100vw;
    overflow: hidden;
  }

  .menu_button {
    display: initial;
  }

  .menu_container {
    font-size: 1.2rem;
  }

  .menu_container,
  .content_container {
    transition: all 0.12s ease-in-out;
  }

  .menu_container {
    background-color: #ffffff;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: calc(var(--spacing-5) * 2);
    transform: translateX(calc(-100vw + -2 * var(--spacing-5)));
  }

  .content_container {
    max-width: var(--content-width);
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--spacing-3);
    padding-right: calc(var(--spacing-3) * 2);
  }

  .menu_open .menu_container {
    transform: translateX(0);
  }

  .menu_open .content_container {
    transform: translateX(calc(100vw + -2 * var(--spacing-5)));
  }

  .flag div {
    width: 10px;
  }
}
